body
{
	background-color: #f0f0f0;
	color: #000000;
	font-family: Arial; 
}

.puTable 
{
	font-size: 11pt;
	width: 80%;
	margin-left: 20px;
}

.puTable th
{
	text-align: left; 
	
}

.menubar
{
	margin: 20px;
	background-color: rgb(120,210,104);
	padding: 10px;
}

.menubar .title
{
	font-size: 16pt;
	text-align: center;
	text-transform: uppercase;

}